@model IEnumerable<WebApplication1.Data.Models.Room>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Name</td>
                <td>@room.Capacity</td>
                <td>@room.Type</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@room.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@room.Id" class="btn btn-danger">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success">Add New Room</a>
}