@model List<UserWithRolesViewModel>

@{
    ViewData["Title"] = "Потребители";
}

<h1>@ViewData["Title"]</h1>

<a href="@Url.Action("AddProfessor", "Admin")" class="btn btn-success mb-3">Добави Професор</a>

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Email</th>
            <th>Роля</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model)
        {
            <tr>
                <td>@userWithRoles.User.UserName</td>
                <td>@userWithRoles.User.Email</td>
                <td>
                    @foreach (var role in userWithRoles.Roles)
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("AddToRole", "Admin", new { userId = userWithRoles.User.Id, roleName = "Professor" })" class="btn btn-primary">Добави към професори</a>
                </td>
            </tr>
        }
    </tbody>
</table>
